# Water quality classification

"A challenge from kaggle website"

https://www.kaggle.com/datasets/abhishekkhanna004/water-quality-dataset-for-crop

Importing needed modules :

In [1460]:
from pandas import read_csv , DataFrame
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from random import shuffle
scaler = StandardScaler()

Task 1 :

Reading csv file from directory and do some analyze on that.

In [1461]:
path = "D:\\datasets\\Water_quality_\\water_quality_.csv"
file = read_csv(path)
df = file.copy()
df.sample(10)

            ph    Hardness       Solids  ...  Trihalomethanes  Turbidity  Check
820        NaN  175.708553  25954.03176  ...        50.590765   2.951396      0
2890  4.004248  210.486009  32821.85009  ...        58.514082   4.445946      0
30    7.181449  209.625600  15196.22999  ...        71.537953   5.088860      0
2259  7.855906  209.751802  19850.18289  ...        57.238874   4.151890      0
552   7.220166  204.768391  15658.08628  ...        64.989116   4.398685      0
2989  3.678432  187.496704  23103.41044  ...        67.456180   4.480109      0
760   7.581945  193.286463  21675.68287  ...        92.609084   4.833346      1
2924  7.833980  203.169408  11174.27476  ...        47.931639   4.254477      0
2938  6.392760  216.675543  19323.67725  ...        41.586606   4.421528      0
1313       NaN  193.926180  14936.50397  ...              NaN   4.297914      0

[10 rows x 9 columns]

In [1462]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Organic_carbon   3276 non-null   float64
 6   Trihalomethanes  3114 non-null   float64
 7   Turbidity        3276 non-null   float64
 8   Check            3276 non-null   int64
dtypes: float64(8), int64(1)
memory usage: 230.5 KB

In [1463]:
df.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Check                0
dtype: int64

In [1464]:
df = df.dropna()

In [1465]:
df.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Check              0
dtype: int64

In [1466]:
df_arr = df.to_numpy()
shuffle(df_arr)
df = DataFrame(df_arr,columns=df.columns)

In [1467]:
label = df.Check
df = df.drop(['Check'],axis=1)

Task 2 :

Scaling entire dataset.

In [1468]:
scaled_df = DataFrame(scaler.fit_transform(df),columns=df.columns)

In [1469]:
scaled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2011 entries, 0 to 2010
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2011 non-null   float64
 1   Hardness         2011 non-null   float64
 2   Solids           2011 non-null   float64
 3   Chloramines      2011 non-null   float64
 4   Sulfate          2011 non-null   float64
 5   Organic_carbon   2011 non-null   float64
 6   Trihalomethanes  2011 non-null   float64
 7   Turbidity        2011 non-null   float64
dtypes: float64(8)
memory usage: 125.8 KB

In [1470]:
message = f'Percent of label one is : {(label.to_list().count(1)*100)/len(label)} and percent of label zero is : {(label.to_list().count(0)*100)/len(label)}'
print(message)

Percent of label one is : 32.123321730482346 and percent of label zero is : 67.87667826951765

Task 3 :

Splitting datas to train set and validation set.

In [1516]:
xtr , xts , ytr , yts = train_test_split(scaled_df,label,test_size=0.01,random_state=42)

In [1517]:
print(len(xtr))
print(len(xts))

1990
21

Final task :

Training datas and getting scores.

In [1523]:
model = RandomForestClassifier(criterion='entropy',
                               n_estimators=600,
                               max_features=None)

In [1524]:
model.fit(xtr,ytr)

RandomForestClassifier(criterion='entropy', max_features=None, n_estimators=600)

In [1525]:
model.score(xtr,ytr)*100

100.0

In [1526]:
model.score(xts,yts)*100

95.23809523809523

In [1527]:
model.fit(scaled_df,label)
model.score(scaled_df,label)*100

100.0